@model SajhaSabal.Models.ComplaintViewModel

@{
    ViewData["Title"] = "Details";
}
<div class="row">
    <div class="col-10">
       <h1> @Html.DisplayFor(model => model.Title)</h1>         
    </div>
    <div class="col-2">
        <span>@Html.DisplayNameFor(model => model.Status)</span>
        <button class="btn btn-info">@Html.DisplayFor(model => model.Status)</button>
    </div>
</div>


<div>
    <hr />
    <dl class="row">
        <dd class = "col-sm-12">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            Department:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartmentName)
        </dd>
    </dl>
</div>
<div>
     @if (this.User.IsInRole("Admin"))
     {
         <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
     }
    <a asp-action="Index">Back to List</a>
</div>
