@model IEnumerable<SajhaSabal.Models.NoticeModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Notice</h1>

 @if (this.User.IsInRole("Admin"))
 {
     <button class="btn btn-success">
         <a class="text-decoration-none text-white" asp-action="Create">Create</a>
     </button>
 }
<div class="table-responsive">
    <table class="table" style="table-layout: fixed;">
        <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) {
            <tr>
                <td style="width:25%">
                    <a asp-action="Details" asp-route-id="@item.Id" class="text-decoration-none"> @Html.DisplayFor(modelItem => item.Title) </a>
                </td>
            <td style="max-width:60%" class="text-truncate">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td style="width:10%">
                <button class="btn btn-info"><a class="text-decoration-none text-white" asp-action="Details" asp-route-id="@item.Id">Details</a></button>
                 @if (this.User.IsInRole("Admin"))
                 {
                     <button class="btn btn-warning"><a class="text-decoration-none text-white" asp-action="Edit" asp-route-id="@item.Id">Edit</a></button>
                     <button class="btn btn-danger"><a class="text-decoration-none text-white delete"  href="/Notice/Delete/@item.Id">Delete</a></button>
                 }
            </td>
        </tr>
    }
    </tbody>
</table>
</div>
